/*imports*/
/*imports*/

/*CSS RESET START*/
/*CSS RESET START*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

a {
  text-decoration: none;
  color: #ffb03b;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
 height: 100%
}

.root-container {
  left: 0;
  width: 100%;
  height: 100%;
}


#root {
  position: absolute;
    left: 0;
    right: 0;
    top: 0px;
    bottom: 0;
    transition: all .2s;
    width: 100%;
    height: 100%;
}

#root-id {
  border: 0;
  position: absolute;
}
/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: #202124;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* CSS RESET OVER*/
/* CSS RESET OVER*/
/* CSS RESET OVER*/

/*style*/
/*style*/
.navbar-brand {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.55rem;
}

.offcanvas-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.55rem;
}

.navbar {
  background-color: #1b1d1f;
  padding: 0;
}

.offcanvas-body {
  background-color: #1b1d1f;
}


.offcanvas-header {
  background-color: #1b1d1f;
}

.card-body {
  color: white;
}

.card {
  border: 2px solid rgba(255, 255, 255, 0.178);
  background-color: #1b1d1f;
}

.card-img-top {
  height: 100%;
  width: 100%;
}


/*About Section */
.about .bg-4 {
  background-image: url('../img/chev1080.jpg');
  min-height: 400px;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.about .content {
  padding: 0 80px;
  font-family: 'Roboto', sans-serif;
}

.about .content h3 {
  font-weight: 400;
  font-size: 34px;
  color: #ffb03b;
}

.about .content h4 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 5px;
}

.about .content p {
  font-size: 18px;
  color: #848484;
  margin: 10px;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li+li {
  margin-top: 15px;
}

.about .content ul li {
  position: relative;
  padding-left: 26px;
  color: #fff;
}

.about .content ul i {
  font-size: 20px;
  color: #ffb03b;
  position: absolute;
  left: 0;
  top: 2px;
}

.about .content p:last-child {
  margin-bottom: 0;
}

#about .container-fluid {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
  margin-right: auto;
  margin-left: auto;
}

/* Footer*/

.footer-brand {
  padding: 0;
  margin: 0 0 10px 0;
}

#footer {
  background: #1b1d1f;
  color: #fff;
  font-size: 14px;
  text-align: center;
  padding: 30px 0;
}

#footer h3 {
  font-size: 36px;
  font-weight: 700;
  color: #ffb03b;
  position: relative;
  padding: 0;
  margin: 0 0 15px 0;
}

#footer p {
  font-size: 15;
  font-style: italic;
  padding: 0;
  margin: 0 0 40px 0;
}

#footer .social-links {
  margin: 0 0 40px 0;
}

#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #46423b;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .social-links a:hover {
  background: #ffb03b;
}

#footer .copyright {
  margin: 0 0 5px 0;
}

#footer .credits {
  font-size: 13px;
}

.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 14px;
  z-index: 996;
  background: #ffb03b;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 40px;
  color: #fff;
  line-height: 0;
  padding-bottom: 2px;
}

.back-to-top:hover {
  background: #ffc064;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/* CAROUSEL */
/* CAROUSEL */
#carouselsection {
  width: 100%;
  height: 100%;
  background-color: rgba(39, 37, 34, 0.8);
  overflow: hidden;
  padding: 0;
}

#carouselsection .carousel-item {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#carouselsection .carousel-item::before {
  content: "";
  background-color: rgba(12, 11, 10, 0.5);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#carouselsection .carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

.carousel {
  width: 100%;
  height: 100%;
}
 .carousel-inner {
  height: 100%;
  width: 100%;
 }

 
.carouselsection-container {
  width: 100%;
  height: 100%;
}

#carouselsection .carousel-content {
  text-align: center;
}

#carouselsection h2 {
  color: #fff;
  margin-bottom: 30px;
  font-size: 48px;
  font-weight: 700;
}

#carouselsection h2 span {
  color: #ffb03b;
}

#carouselsection p {
  width: 80%;
  margin: 0 auto 30px auto;
  color: #fff;
}

#carouselsection .carousel-inner .carousel-item {
  transition-property: opacity;
  background-position: center top;
}

#carouselsection .carousel-indicators li {
  cursor: pointer;
}


#carouselsection .carousel-inner .carousel-item {
  transition-property: opacity;
  background-position: center top;
}

#carouselsection .carousel-inner .carousel-item,
#carouselsection .carousel-inner .active.carousel-item-start,
#carouselsection .carousel-inner .active.carousel-item-end {
  opacity: 0;
}

#carouselsection .carousel-inner .active,
#carouselsection .carousel-inner .carousel-item-next.carousel-item-start,
#carouselsection .carousel-inner .carousel-item-prev.carousel-item-end {
  opacity: 1;
  transition: 0.5s;
}

#carouselsection .carousel-inner .carousel-item-next,
#carouselsection .carousel-inner .carousel-item-prev,
#carouselsection .carousel-inner .active.carousel-item-start,
#carouselsection .carousel-inner .active.carousel-item-end {
  left: 0;
  transform: translate3d(0, 0, 0);
}


@media (max-width: 768px) {
  #carouselsection h2 {
    font-size: 28px;
  }
}

@media (min-width: 1024px) {
  #carouselsection p {
    width: 50%;
  }

  #carouselsection .carousel-control-prev,
  #carouselsection .carousel-control-next {
    width: 5%;
  }
}

/* CAROUSEL */
/* CAROUSEL */

/*sections*/
/*sections*/

.navbarsection {
  padding: 0;
}


section {
  padding: 60px 0;
}

.section-bg {
  background-color: white;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  margin: 15px 0 0 0;
  font-size: 32px;
  font-weight: 700;
  color: #5f5950;
}

.section-title h2 span {
  color: #ffb03b;
}

.section-title p {
  margin: 15px auto 0 auto;
  font-weight: 300;
}

@media (min-width: 1024px) {
  .section-title p {
    width: 50%;
  }
}
/*sections*/
/*sections*/

/**
 * Change animation duration
 */
.animated {
  animation-duration: 1.5s !important;
  -webkit-animation-duration: 1.5s;
}

@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100px, 0, 0);
    transform: translate3d(100px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100px, 0, 0);
    transform: translate3d(100px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

/* */
@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100px, 0, 0);
    transform: translate3d(-100px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100px, 0, 0);
    transform: translate3d(-100px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

/* */
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100px, 0);
    transform: translate3d(0, 100px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100px, 0);
    transform: translate3d(0, 100px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

/* */
@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100px, 0);
    transform: translate3d(0, -100px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100px, 0);
    transform: translate3d(0, -100px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

/**
 * Button
 */
.btn-transparent {
  background: transparent;
  color: #fff;
  border: 2px solid #fff;
}
.btn-transparent:hover {
  background-color: #fff;
  color: black;
}

.btn-rounded {
  border-radius: 70px;
}

.btn-large {
  padding: 11px 45px;
  font-size: 18px;
}

/* Media Query */
/* Media Query */

@media (max-width: 768px) {
  #carouselsection h2 {
    font-size: 28px;
  }
}

@media (min-width: 1024px) {
  #carouselsection p {
    width: 50%;
  }
}


@media (max-width: 1024px) {

  .about .content,
  .about .accordion-list {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 992px) {
  .about .content {
    padding-top: 30px;
  }

  .about .accordion-list {
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 468px) {
  .offcanvas {
    min-width: 100%;
    padding: 0;
    margin: 0;
    border-left: 0;
  }
}

@media screen and (max-width: 468px) {
  .offcanvas.offcanvas-end {
    border-left: 0;
  }
}

/* test
@media screen and (max-width: 468px) {
  .carousel-indicators {
    padding-bottom: 10.5vh;
  }
}

@media screen and (min-width: 768px) {
  .carousel-indicators {
    padding-bottom: 3vh;
  }
}
*/

/*scroll bar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  margin-top: 7vh;
  
}

 
::-webkit-scrollbar-thumb {
  background:  rgba(109, 103, 103, 0.644);
  border-radius: 20px;
}


@media (min-width:801px)  {
  body {
    overflow: overlay;
  }
}
